.white {
    background-color: rgb(253, 253, 248);
    margin: 0px 10vw;
    max-width: 70vw;
    min-width: 700px;
    
    /* height: 100%; */
}
p {
    font-size: 1.25rem;
}

li::marker{
    content: "✦ ";
    
}

div {
    display: flex;
    flex-direction: column;
}
nav {
    border: 2px solid black;
    margin: 50px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}
.hero {
    margin: 0 5vw;
    align-items: center;
}

.herogif {
    overflow: hidden;
    border-radius: 1.5rem;
    width: 100%;
    margin: 50px 0;
    img {
        width: 100%;
        position: center;
        object-fit: cover;
    }
}

.intro {
    border:1px dashed rgb(9, 54, 9);
    border-radius: 1rem;
    padding: 15px 50px;
    text-align: center;
    /* margin-bottom: 50px; */
    p {
        font-size: 1.25rem;
    }
    img {
        width: 70%;
        align-self: center;
    }
}



.step {
    margin: 70px 0;
    width:70%;
    padding: 2rem;
    text-align: center;
    h2{
        margin-bottom: 5px;
    }
    p {
        margin-top: 0px;
    }
}
.steprow {
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.stepsquare {
    width: 120px;
    height: 120px;
    margin: 10px;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}

.circleimg {
    border: 5px solid white;
    overflow: hidden;
    border-radius: 5rem;
    width: 120px;
    height: 120px;
    img {
        object-fit: cover;
        height: 100%;
    }
}

.types {
    h1 {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}
.gridcard {
    margin: 10px;
    padding: 20px;
    min-width: 600px;
    border: 5px solid white;
    background-color: #bdc495fa; 
    border-radius: 2rem;
    background-image: linear-gradient(to right, rgb(253, 253, 248) 2px, transparent 1px),
                    linear-gradient(to bottom, rgb(253, 253, 248) 2px, transparent 1px);
    background-size: 20px 20px;
}
.clovercard {
    display: flex;
    background-color: rgb(253, 253, 248);
    border: 1px dashed rgb(9, 54, 9);
    border-radius: 1rem;
    padding: 5%;
    align-items: center;
}
.clovercard_content {
    /* border: 1px solid black; */
    h2 {
        margin: 3px 0 10px 0;
    }
    p{
        font-size: 1.2rem;
    }
    a{
        color: rgb(9, 54, 9);
        text-decoration: underline;
    }
}

.circlerow {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.cardimg {
    margin-right: 5%;
    img{
        max-height: 100%;
        width: auto;
    }
}

.impasta {
    border-radius: 1.5rem;
    border: 1.5px dashed rgb(9, 54, 9);
    margin: 10px;
    min-width: 600px;
    padding: 15px;
    display: flex;
    align-items: center;
    img {
        border-radius: 1.5rem;
        width: 200px;
        margin-right: 30px;
    }
    h3 {
        font-size: 2.3rem;
        margin-bottom: 0;
    }
}



.bring {
    display: flex;
    flex-direction: row;
    /* padding: 100px; */
    /* border: 10px solid black; */
    border-top: 3px dotted rgb(9, 54, 9);
    padding: 20px 0;
    width: 100%;
    
}
span {
        height: 1px;
        width: 100%;
        border-top: 3px dotted rgb(9, 54, 9);
    }
#bring_floatright {
    align-items: flex-end;
}
.bringcircle {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #bdc495fa; 
    border-radius: 50rem;
    background-image: linear-gradient(to right, rgb(253, 253, 248) 2px, transparent 1px),
                    linear-gradient(to bottom, rgb(253, 253, 248) 2px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        width: 130%;
    }
}
.bringcontent {
    max-width: 60%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f8f1; 
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
                    linear-gradient(to bottom, grey 1px, transparent 1px);
    background-size: 35px 35px;
    margin: 0;
}
